@font-face {
  font-family: 'Gilroy-SemiBoldItalic';
  src: url('Gilroy-SemiBoldItalic.eot');
  src: url('Gilroy-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-SemiBoldItalic.woff2') format('woff2'),
    url('Gilroy-SemiBoldItalic.woff') format('woff'),
    url('Gilroy-SemiBoldItalic.ttf') format('ttf'),
    url('Gilroy-SemiBoldItalic.svg#Gilroy-SemiBoldItalic') format('svg');
  font-style: italic;
  font-weight: 700;
}
