@font-face {
  font-family: 'Gilroy-Black';
  src: url('Gilroy-Black.eot');
  src: url('Gilroy-Black.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Black.woff2') format('woff2'),
    url('Gilroy-Black.woff') format('woff'),
    url('Gilroy-Black.ttf') format('ttf'),
    url('Gilroy-Black.svg#Gilroy-Black') format('svg');
  font-style: normal;
  font-weight: 900;
}
