@font-face {
  font-family: 'Gilroy-Medium';
  src: url('Gilroy-Medium.eot');
  src: url('Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Medium.woff2') format('woff2'),
    url('Gilroy-Medium.woff') format('woff'),
    url('Gilroy-Medium.ttf') format('ttf'),
    url('Gilroy-Medium.svg#Gilroy-Medium') format('svg');
  font-style: normal;
  font-weight: normal;
}
