@font-face {
  font-family: 'Gilroy-MediumItalic';
  src: url('Gilroy-MediumItalic.eot');
  src: url('Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-MediumItalic.woff2') format('woff2'),
    url('Gilroy-MediumItalic.woff') format('woff'),
    url('Gilroy-MediumItalic.ttf') format('ttf'),
    url('Gilroy-MediumItalic.svg#Gilroy-MediumItalic') format('svg');
  font-style: italic;
  font-weight: normal;
}
