@font-face {
  font-family: 'Gilroy-HeavyItalic';
  src: url('Gilroy-HeavyItalic.eot');
  src: url('Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-HeavyItalic.woff2') format('woff2'),
    url('Gilroy-HeavyItalic.woff') format('woff'),
    url('Gilroy-HeavyItalic.ttf') format('ttf'),
    url('Gilroy-HeavyItalic.svg#Gilroy-HeavyItalic') format('svg');
  font-style: italic;
  font-weight: heavy;
}
