@font-face {
  font-family: 'Gilroy-RegularItalic';
  src: url('Gilroy-RegularItalic.eot');
  src: url('Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-RegularItalic.woff2') format('woff2'),
    url('Gilroy-RegularItalic.woff') format('woff'),
    url('Gilroy-RegularItalic.ttf') format('ttf'),
    url('Gilroy-RegularItalic.svg#Gilroy-RegularItalic') format('svg');
  font-style: italic;
  font-weight: regular;
}
