@font-face {
  font-family: 'Gilroy-Regular';
  src: url('Gilroy-Regular.eot');
  src: url('Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Regular.woff2') format('woff2'),
    url('Gilroy-Regular.woff') format('woff'),
    url('Gilroy-Regular.ttf') format('ttf'),
    url('Gilroy-Regular.svg#Gilroy-Regular') format('svg');
  font-style: normal;
  font-weight: regular;
}
