@media print {
  .noPrint {
    display: none !important;
  }
  .printHide {
    display: none !important;
  }
  footer {
    display: none !important;
  }
  .print {
    margin: 0mm !important;
    padding: 0mm !important;
  }
}

.react-datepicker-popper {
  z-index: 5 !important;
}
@page {
  margin: 6.5mm 15mm !important;
}

html {
  scroll-behavior: smooth;
}
