@media print {
  .noPrint {
    display: none !important;
  }
  .printHide {
    display: none !important;
  }
  footer {
    display: none !important;
  }
  .print {
    margin: 0mm !important;
    padding: 0mm !important;
  }
}
.popup-content {
  padding: 0px !important;
  border: 0px !important;
  max-width: 600px !important;
  border-radius: 5px !important;
}
.react-datepicker-popper {
  z-index: 2 !important;
}
